<!--The content below is only a placeholder and can be replaced.-->
<div class="allb">

  <div style="text-align:center ">
    <h1>
    Github Username & details Search Engine {{ title }}!
  </h1>

  </div>

  <div class="boody ">

    <nav class="navbar navbar-default ">
      <div class="container " id="background ">

        <div class="navbar-header head ">

          <app-profile></app-profile>
        </div>
        <div id="navbar " class="collapse navbar-collapse ">
          <ul class="nav navbar-nav ">

          </ul>
        </div>

      </div>
    </nav>
  </div>
</div>
