.search-container {
  align-items: center;
}

/* search bar container */

.search-container {
  display: table;
  position: center;
  width: 20%;
  background-color: gray;
}

/* search icon button */

.search-icon-btn {
  border: 1px solid aquamarine;
  display: table-cell;
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
}

/* search bar input container */

.search-input {
  position: absolute;
  left: 0;
  z-index: 1;
}

/* search bar input */

.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 50px;
  padding: 0px;
  width: 50px;
}

.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

/* hover on search bar container */

.search-container:hover>.search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}